<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression">
	<listeners>
		<listener class-name="AAA_ITestListener.listeneres" />
		<listener class-name="Resources.extentReporterNG" />
	</listeners>
	<test name="Test">
		<classes>
			<class name="Leads.TC003_Delete_A_Lead_And_Verify_If_Lead_Is_Deleted_Successfully" />
		</classes>
	</test>
	<test name="Test1">
		<classes>
			<class name="Organization.TC003_Delete_An_Organization_And_Verify_If_Organization_Is_Deleted_successfully" />
		</classes>
	</test>
	<test name="Test2">
		<classes>
			<class name="Contacts.TC003_Delete_A_Contact_And_Verify_If_Contact_Is_Deleted_Sucessfully" />
		</classes>
	</test>
	<test name="Test3">
		<classes>
			<class name="Vendor.TC003_Delete_A_Vendor_And_Verify_If_Vendor_Is_Deleted_Sucessfully" />
		</classes>
	</test>
</suite> 
